mixin form-field(name, label, type="text", error="")
  div(class=error ? "form__field--error" : "form__field")
    .form__row
      label.form__label(for="name") #{label}
      if error
        p.form__error #{error}
    input.form__input(type=type, name=name, id=name)&attributes(attributes)
    
