mixin form-field(name, label, type="text", error="", placeholder="")
  .form__field
    label.form__label(for="name") #{label}
    input.form__input(type=type, name=name, id=name, placeholder=placeholder)
    if error
      p.form__error #{error}
